---
BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AllowAllConstructorInitializersOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: MultiLine
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterCaseLabel: false
  AfterFunction: true
  AfterNamespace: true
  AfterUnion: true
  AfterObjCDeclaration: true
  AfterExternBlock: true
  AfterControlStatement: false
  BeforeElse: true
  BeforeCatch: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 160
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
PointerAlignment: Right
SortIncludes: false
DerivePointerAlignment: false
DisableFormat: false
SpaceAfterTemplateKeyword: false
UseTab: Never

...
