Build/
cmake-build-release/
cmake-build-debug/
FlowCV_SDK/third-party/opencv/
.idea/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs/
*.pdb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.obj
*.tlog
*.recipe
x64/
Debug/
