IDI_ICON1 ICON DISCARDABLE "appicon.ico"
GLFW_ICON ICON DISCARDABLE "appicon.ico"

#include "../Common/node_editor.h"

#define STR(x) #x
#define STR_VERSION(MAJVER,MINVER,FIXNUM,BLDID) \
STR(MAJVER) "." STR(MINVER) "." STR(FIXNUM) "." STR(BLDID)

#define TO_STRING(x) STR(x)


1 VERSIONINFO
 FILEVERSION FLOWCV_EDITOR_MAJOR_VERSION,FLOWCV_EDITOR_MINOR_VERSION,FLOWCV_EDITOR_PATCH_VERSION,FLOWCV_EDITOR_BUILD_VERSION
 PRODUCTVERSION FLOWCV_EDITOR_MAJOR_VERSION,FLOWCV_EDITOR_MINOR_VERSION,FLOWCV_EDITOR_PATCH_VERSION,FLOWCV_EDITOR_BUILD_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "FlowCV Org"
            VALUE "FileDescription", "FlowCV Editor UI"
            VALUE "FileVersion", FLOWCV_EDITOR_MAJOR_VERSION,FLOWCV_EDITOR_MINOR_VERSION,FLOWCV_EDITOR_PATCH_VERSION,FLOWCV_EDITOR_BUILD_VERSION
            VALUE "InternalName", "Node_Editor.exe"
            VALUE "LegalCopyright", "Copyright (C) 2022, FlowCV Org. All rights reserved."
            VALUE "OriginalFilename", "Node_Editor.exe"
            VALUE "ProductName", "FlowCV Node Editor UI"
            VALUE "ProductVersion", STR_VERSION(FLOWCV_EDITOR_MAJOR_VERSION,FLOWCV_EDITOR_MINOR_VERSION,FLOWCV_EDITOR_PATCH_VERSION,FLOWCV_EDITOR_BUILD_VERSION) "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
